body {
  margin: 0; /* Supprime les marges par défaut du corps */
  padding: 0; /* Supprime les espacements internes par défaut du corps */
}

 .nav {
  background-color: white;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 px;
 }
 
 .nav img {
  width: 40px;
  height: 40px;
 }
 
 .nav .nav-items {
  display: flex;
  gap: 20px;
 }
 
 .nav .nav-items a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
 }
 
 .nav .nav-items a:hover {
  color: #555;
 } 


.desktop-3-item {
  position: absolute;
  margin-top: -1.4cm;
  top: 261px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 309px;
  height: 586px;
}
 
.lawyer-details {
  margin-top: 3cm;
  margin-left: 2cm;
  margin-right: 2cm;
  display: flex;
  align-items: flex-start; /* Alignement en haut */
  gap: 20px;
  padding: 30px;
  position: relative; /* Définit une position relative */
  z-index: 1;

}

.lawyer-image {
  width: 25%; /* Définit une largeur de 25% pour l'image */
}

.lawyer-info {
  flex: 1;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem; /* Ajustez la marge supérieure */
}
.lawyer-info h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #1D371D;
  /* Autres styles pour le titre... */
}

.dom{
  font-size: 1.5rem;
  font-weight: bold;
  color: #49C3BC;
}

.lawyer-info p {
  font-size: 1rem;
  /* Autres styles pour le paragraphe... */
}

.cost {
  color: #2E1EE8;
  font-size: 1.5rem;

}

.star-selected,
.star-unselected {
  font-size: 4rem; /* Taille des étoiles */
  cursor: pointer;
  color: gold; /* Couleur des étoiles */
}

.star-selected {
  color: gold; /* Couleur des étoiles sélectionnées */
  cursor: pointer; /* Curseur de la souris lorsqu'on survole les étoiles */
}

.star-unselected {
  color: lightgray; /* Couleur des étoiles non sélectionnées */
  cursor: pointer; /* Curseur de la souris lorsqu'on survole les étoiles */
}

.custom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 20px;
  border: none;
  gap: 1rem; /* Espacement entre les éléments enfants */
}

.custom-button {
  /* Ajoutez des styles si nécessaire pour le bouton */
}

.custom-images {
  display: flex;
  gap: 1.5cm; /* Espacement entre les images */
  align-items: center;
}

.custom-images img {
  width: 50px; /* Ajustez la taille des images selon vos besoins */
  height: auto;
}

.navbar2 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%; /* Prend toute la largeur de la page */
  background-color: #1d371d; /* Couleur de fond de la barre de navigation */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2cm; /* Hauteur de la barre de navigation */
  z-index: 0;/* Place navbar2 en-dessous de lawyer-details */
}


.navbar-link {
  text-decoration: none;
  color: white; /* Couleur du texte des liens */
  padding: 8px 16px; /* Espacement interne des liens */
  transition: background-color 0.3s ease; /* Transition pour l'effet hover */
}

.navbar-link:hover {
  background-color: #1d371d; /* Couleur de fond au survol */
}



.container {
  position: relative;
  display: flex;
  gap: 2rem;
  margin-top: 1cm;

  
}

.left-section {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.text-and-button {
  margin: 0 auto; /* Centrer horizontalement le texte et le bouton */
  color: #555;
  margin-top: 4rem;
  font-size: medium;
  text-align: center; /* Centrer le texte horizontalement */
  flex-grow: 1;
}

.button {
  align-self: flex-end; /* Aligner le bouton en bas */
  margin-bottom: 2rem; /* Espacement entre le texte et le bouton */
}



.resume-button {
  border: 1px solid #6FF46C; /* Bordure verte claire */
  color: #6FF46C; /* Couleur de texte verte */
  background-position: center; /* Centrer l'image */
  background-size: contain; /* Taille de l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  padding: 10px 20px; /* Espacement interne */
  font-size: 16px; /* Taille de la police */
}




.right-section {
  flex: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section h1 {
  margin-top: 1rem;
  color: #1d371d;
  font-weight: bold;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  width: 50px;
  height: auto;
  margin: 0 10px; /* Espace entre les images */
}
