/* Registration.css */

.registration-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left-content,
.right-content {
    width: calc(50% - 5px); /* Moitié de la largeur avec un espace de 5px entre les colonnes */
    padding: 20px;
}

.title {
    padding-top: 1rem; 
    padding-left: 0rem;
    color: 1D371D;
    font-size: 4em ;
    font-weight: bold;
    position: relative; 
    content: ".";
    line-height: 1em; 
}

.title::after {
    content: ".";
    color:  #6FF46C; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 4.9cm;
}

/* Stylisation des champs et boutons */

.form-group {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 4rem ;
    padding-right: 4rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px; 
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 0px;
    background-color: #F7F3F3;
    border: none ;
    box-sizing: border-box;

}
.years-experience {
    display: flex;
    align-items: center;
    
}

.years-experience label {
    margin-right: 13rem;
}

.years-experience .exp-input {
    float: right;
    display: flex;
    align-items: center;
    margin-left: 80px; /* Ajoutez un espace après le libellé */
}

.years-experience .exp-button {
    width: 40px;
    height: 40px;
    border-radius: 0%;
    border: none;
    background-color: white;
    margin: 7px;
    cursor: pointer;
    font-weight: bold; 
    color: #1D371D;
}

.years-experience .exp-text {
    width: 40px;
    text-align: center;
    font-weight: bold; 
    color: #1D371D;
}

.lang-container {
    display: flex;
    align-items: center;
}

.lang-label {
    margin-right: 22rem; /* Espacement entre "Lang" et les options */
    color: #171717;

}

.lang-options {
    display: flex;
    align-items: center;
}

.lang-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.lang-option p {
    margin: 0;
    margin-left: 5px;
    color: #1D371D;
}

.lang-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #6FF46C;
    margin-right: 5px;
}

.lang-option.selected .lang-circle {
    background-color: #6FF46C;
}

.ccc {
    display: flex;
    align-items: center;
}

.ccc label {
    margin-right: 15rem; /* Espacement entre le mot et la zone de texte */
    white-space: nowrap; /* Empêche le saut à la ligne du mot */
}

.ccc span {
    white-space: nowrap; /* Empêche le saut à la ligne du texte */
}

.mt-3{
    margin-top: 4rem;
    margin-left: 3.5rem;

}

.telephone-group {
    display: flex;
    align-items: center;
}

.telephone-group label {
    margin-right: 4rem;
}



.btn1 {
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    width: 100%; /* Ajustez la largeur des boutons si nécessaire */
    background-color:#6FF46C; /* Couleur de fond pour le bouton + Resume */
    color: white ;
    font-weight: bold;
}



.btn2 {
    float: right;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    width: 40%; 
    background-color: #1D371D; /* Modifier la couleur de fond pour le bouton Register */
    color: white;
    font-weight: bold;

} 





